/* Variables */

:root{
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #32425C;
  --basic-light-grey: #C5C5C5;    /* rgba(197, 197, 197, 1); */
  --header-background: #F1F5F7;
  --white: #FFFFFF;
  --basic-black: #000000;
  --basic-light-green: #8ED78F;
  --basic-yellow: #FFBF47;
  --basic-orange: #FFC047;
  --basic-blue: #3BBCE3;
  --basic-purple: #DC91D8;
  --basic-beige: #F9F5F0;
  --basic-gold: #FFD180;

  --red-hover: #CA2C37;
  --red-active: #BA2732;
  --border-color: #EAEAEA;
  --red-active: #BA2732;
  --grey-hover: #293449;
  --grey-active: #1D2739;
  --grey-rest: #E5E5E5;
  --light-grey-active: #A9A9A9;    /* rgba(169, 169, 169, 1); */
  --green-hover: #5FBB2D;
  --green-active: #518534;
  --registration-active: #C5C5C5;
}

/* Global */

.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--white);
  color: var(--basic-black);
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: inherit;
}

.basic-logo{
  background-color: var(--basic-red);
}

/* catalog only */

.basket-active{
  background-color: var(--basic-red);
}

.personal-area{
  list-style: disc;
}

.personal-name{
  font-size: 21px;
  line-height: 21px;
}

.personal-orders, .personal-area{
  color: var(--basic-grey);
  font-size: 16px;
  line-height: 18px;
}

.breadcrumps, .sorting, .btn-show, .paginator{
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
}

.filter-price legend, .filter-brand legend, .filter-power legend{
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-price input{
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  border: none;
}

.filter-brand label, .filter-power label{
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.sorting a{
  color: var(--registration-active);
  text-decoration: underline dotted var(--basic-red);
}

.sorting a:hover{
  color: var(--basic-black);
  text-decoration-style: solid;
}

.sorting-active a, .sorting a:active{
  color: var(--basic-red);
  text-decoration: none;
}

.btn-show{
  background-color: transparent;
}

.catalog-caption{
  color: var(--basic-grey);
  background-color: var(--header-background);
}

.paginator a{
  border: 1px solid var(--grey-rest);
}

.paginator a:hover{
  border: 1px solid var(--registration-active);
}

.paginator a:active{
  border: 1px solid var(--basic-red);
}

.active-page a{
  color: var(--white);
  background-color: var(--basic-red);
}

.useful-info{
  background-color: var(--header-background);
}

/* header */

a.basic-logo:active{
  background-color: var(--red-active);
}

.search input{
  background-color: var(--basic-grey);
}

.search:hover input{
  background-color: var(--white);
}

.search-input::placeholder{
  color: var(--white);
}

.search:hover input::placeholder{
  color: var(--basic-black);
}

.main-header{
  font-size: 18px;
  line-height: 24px;
  background-color: var(--header-background);
}

.container-navigation, .header-strip{
  background-color: var(--basic-grey);
  color: var(--white);
}

.checkout, .btn-buy{
  background-color: var(--basic-green);
}

.checkout:hover,  .btn-buy:hover{
  background-color: var(--green-hover);
}

.writeup{
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px; 
}

.header-phone{
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.header-address{
  color: var(--basic-grey);
  font-size: 14px;
}

.registration{
  font-size: 21px;
  line-height: 21px;
}

.registration a{
  color: var(--basic-black);
}

.registration a:hover, .personal-orders:hover, .personal-area:hover{
  color: var(--basic-red);
}

.registration a:active, .personal li:active{
  color: var(--registration-active);
}

.registration a{
  background-color: var(--white);
}

.site-navigation a, .header-strip a{
  color: var(--white);
}

.site-navigation a:hover{
  background-color: var(--grey-hover); 
} 

.site-navigation a:active, .bookmarks:active{
  background-color: var(--grey-active);
}

.site-navigation a:active, .bookmarks:active, .basket:active, .checkout:active{
  opacity: 0.5;
}

/* main */

.section-caption{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.list{
  list-style: none;
}

/* promo */

.promo{
  color: var(--white);
}

.promo-categories, .promo-offers{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
}

.promo-categories a, .promo-offers a{
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.3);
}

.promo-categories a:hover, .promo-offers a:hover{
  background-color: rgba(197, 197, 197, 0.3);
}

.promo-categories a:active, .promo-offers a:active{
  background-color: rgba(169, 169, 169, 0.3);
}

.promo-category:nth-child(1){
  background-color: var(--basic-yellow);
}

.promo-category:nth-child(2){
  background-color: var(--basic-blue);
}

.promo-category:nth-child(3){
  background-color: var(--basic-purple);
}

.promo-offer:nth-child(1){
  background-color: var(--basic-light-green);
}

.promo-offer:nth-child(2){
  background-color: var(--basic-orange);
}

/* slider */

.slider-perforator{
  background-image: url("../img/slider-perforator.jpg");
  background-repeat: no-repeat;
  background-color: var(--basic-gold);
}

.slider-drill{
  background-image: url("../img/slider-drill.jpg");
  background-repeat: no-repeat;
  background-color: var(--basic-gold);
}

.slider h3{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.btn{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic-red);
}

.btn:hover{
  background-color: var(--red-hover);
}

.btn:active{
  background-color: var(--red-active);
}

/* popular-product */

.beige{
  background-color: var(--basic-beige);
}

.card{
  border: 1px solid var(--border-color);
}

.product-list{
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.product-item s{
  color: var(--light-grey-active);
}

.price{
  color: var(--white);
  background-color: var(--basic-red); 
}

.btn-buy{
  background-color: var(--basic-green);
  color: var(--white);
  text-transform: uppercase;
}

.btn-buy:active{
  background-color: var(--green-active);
}

.btn-to-bookmarks{
  border: 3px solid var(--basic-green);
  color: var(--basic-grey);
  text-transform: uppercase;
}

.btn-to-bookmarks:hover{
  border: 3px solid var(--basic-grey)
}

.btn-to-bookmarks:active{
  border: 3px solid var(--basic-grey);
  opacity: 0.5;
}

/* popular-brand */

.brand-item a:active{
  opacity: 0.5;
}

/* services */

.services{
  background-color: var(--header-background);
}

.services-tab{
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
}

.services-tab a{
  color: inherit;
  background-color: var(--basic-grey);
  box-shadow: 0px 1px 0px var(--grey-hover), inset 0px 1px 0px #405069;
}

.services-tab{
  color: var(--white);
}

.services-tab a:hover{
  background-color: var(--grey-hover);
}

.services-tab a:active{
  color: var(--basic-grey);
  background-color: var(--white);
}

.services p, .feateres p, .contacts p, .useful-info p{
  font-family: "PT Sans";
  font-size: 13px;
}

/* footer */

.main-footer{
  background-color: var(--basic-grey);
  color: var(--header-background);
}

.footer-nav a:hover, .footer-promo a:hover, .feedback a:hover, .developed a:hover{
  text-decoration: underline;
}

.footer-nav a:active{
  color: rgba(241, 245, 247, 0.5);
}

.footer-promo a:active{
  color: rgba(255, 209, 128, 0.5);
}

.feedback a:active, .developed a:active{
  color: var(--basic-red);
}

.communication{
  background-color: var(--grey-hover);
}

.gold{
  color: var(--basic-gold);
}

/* modal */

.letter input, .letter-item textarea{
  border: 2px solid #C5C5C5;
  border-radius: 2px;
  font-family: "PT Sans";
  color: var(--light-grey-active);
}