/* Variables */

:root{
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #32425C;
  --basic-light-grey: #C5C5C5;    /* rgba(197, 197, 197, 1); */
  --profile-grey: #3D546F;
  --header-background: #F1F5F7;   /*  rgba(241, 245, 247, 1); */
  --white: #FFFFFF;               /* rgba(255, 255, 255, 1); */
  --basic-black: #000000;
  --basic-light-green: #8ED78F;
  --basic-yellow: #FFBF47;
  --basic-orange: #FFC047;
  --basic-blue: #3BBCE3;
  --basic-purple: #DC91D8;
  --basic-beige: #F9F5F0;
  --basic-gold: #FFD180;    /*  rgba(255, 209, 128, 1);  */
  --border-logo: #be202a;

  --red-hover: #CA2C37;
  --red-active: #BA2732;
  --border-color: #EAEAEA;
  --red-active: #BA2732;
  --grey-hover: #293449;
  --grey-active: #1D2739;
  --grey-rest: #E5E5E5;
  --light-grey-active: #A9A9A9;    /* rgba(169, 169, 169, 1); */
  --green-hover: #5FBB2D;
  --green-active: #518534;
  --registration-active: #C5C5C5;
  --shadow-grey: #405069;   /*  rgba(64, 80, 105, 1);  */

  --white-opacity: rgba(255, 255, 255, 0.3);
  --light-grey-opacity: rgba(197, 197, 197, 0.3);
  --lgrey-active-opacity: rgba(169, 169, 169, 0.3);
  --headback-active-opacity: rgba(241, 245, 247, 0.5);
  --basic-gold-opacity: rgba(255, 209, 128, 0.5);
}

/* Global */

.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: var(--white);
  color: var(--basic-black);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  text-decoration: none;
  color: inherit;
}

.page{
  height: 100%;
}

.wrapper{
  width: 940px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* header */

.main-header{
  font-size: 18px;
  line-height: 24px;
  background-color: var(--header-background);
  padding-bottom: 60px;
}

.container-navigation, .strip-wrapper{
  background-color: var(--basic-grey);
  color: var(--white);
}

.header-strip{
  width: 940px;
  height: 42px;
  margin: 0 auto;
  display: flex;
}

.basic-logo{
  display: block;
  width: 220px;
  height: 42px;
  background-color: var(--basic-red);
  box-shadow: 0px 5px 0px var(--border-logo);
}

.basic-logo img{
  position: relative;
  top: 12px;
  left: 56px;
}

a.basic-logo:active{
  background-color: var(--red-active);
}

/* search */

.search{
  display: flex;
  flex-grow: 1;
  position: relative;
}

.search-input{
  display: block;
  background-color: var(--basic-grey);
  flex-grow: 1;
  border: none;
  padding-left: 42px;
}

.search-input:focus{
  background-color: var(--white);
  outline: none;
}

.search-input::placeholder{
  color: var(--white);
}

.search-input:focus::placeholder{
  color: var(--basic-black);
}

.search label:before{
  content: "";
  width: 25px;
  height: 20px;
  background-image: url("../img/loupe.svg");
  position: absolute;
  top: 10px;
  /*right: 235px;*/
  left: 12px;
}

.search:hover label:before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/loupe-focus.svg");
  background-repeat: no-repeat;
  left: 17px;
}

.search-input:focus ~ label:before{
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../img/loupe-active.svg");
  background-repeat: no-repeat;
  left: 17px;
}

.purchase{
  display: flex;
}

.checkout, .btn-buy{
  background-color: var(--basic-green);
}

.checkout:hover, .checkout:focus, .btn-buy:hover, .btn-buy:focus{
  background-color: var(--green-hover);
}

.purchase a{
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
}

.bookmarks{
  display: block;
  min-width: 82px;
  padding-left: 43px;
  padding-right: 24px;
  position: relative;
}

.bookmarks svg{
  position: absolute;
  top: 13px;
  left: 20px;
  opacity: 0.3;
}

.bookmarks:hover svg{
  opacity: 1;
}

.basket{
  display: block;
  padding-left: 49px;
  padding-right: 26px;
  position: relative;
  min-width: 75px;
}

.basket svg{
  position: absolute;
  top: 13px;
  left:26px;
  opacity: 0.3;
}

.basket:hover svg{
  opacity: 1;
}

.checkout{
  padding-left: 19px;
  padding-right: 16px;
}

.contacts-registration{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  column-gap: 20px;
}

.writeup{
  color: var(--basic-red);
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  padding-left: 30px;
  margin-top: auto;
  margin-bottom: auto;
}

.header-phone{
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  display: block;
  width: 200px;
  border: 3px solid var(--white);
  padding: 4px 0px 5px 70px;
  margin-top: 41px;
  margin-bottom: 0px;
  position: relative;
}

.header-phone::before {
  content: "";
  background-image: url("../img/header-phone.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  width: 19px;
  height: 19px;
  top: 10px;
  right: 215px;
}

.header-address{
  color: var(--basic-grey);
  font-size: 14px;
  display: block;
  position: relative;
  bottom: 30px;
  left: 10px;
}

.registration{
  font-size: 21px;
  line-height: 21px;
  display: flex;
  justify-content: flex-end;
}

.registration a{
  display: block;
  color: var(--basic-black);
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 41px;
}

.enter{
  min-width: 102px;
  margin-right: 10px;
  padding-left: 19px;
  position: relative;
}

.enter svg{
  padding-right: 6px;
}

.enter:hover path{
  fill: var(--profile-grey);
}

.enter:active path{
  fill: var(--registration-active);
}

.btn-registration{
  width: 150px;
  text-align: center;
}

.registration a:hover, .registration a:focus,
.personal-orders:hover, .personal-orders:focus,
.personal-area:hover, .personal-area:focus{
  color: var(--basic-red);
}

.registration a:active, .personal li:active{
  color: var(--registration-active);
}

.registration a{
  background-color: var(--white);
}

.site-navigation{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  box-shadow: inset 0px -5px 0px #293449;
}


.site-navigation a{
  display: block;
  padding: 16px 28px 20px;
}

.site-navigation .firstnav-item{
  padding-left: 54px;
}

.site-navigation .lastnav-item{
  padding-right: 55px;
}

.site-navigation a:hover,
.site-navigation a:focus{
  background-color: var(--grey-hover); 
} 

.site-navigation a:active, .bookmarks:active, .basket:active{
  background-color: var(--grey-active);
}

.site-navigation a:active, .bookmarks:active, .basket:active, .checkout:active{
  opacity: 0.5;
}

/* main */

.page-index{
  padding-top: 60px;
}

.section-caption{
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 400;
}

.list{
  list-style: none;
  margin: 0;
  padding: 0;
}

/* promo */

.promo{
  color: var(--white);
  display: grid;
  gap: 20px;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;  
}

.promo-categories{
  grid-column: 1/-1;
  grid-row: 1/2;

  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 20px;
}

.promo-offers{
  grid-column: 3/4;
  grid-row: 2/-1;

  display: grid;
  grid-template-rows: 123px 123px;
  gap: 20px;
}

.slider{
  grid-column: 1/3;
  grid-row: 2/4;
  position: relative;
}

.promo-categories, .promo-offers{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--white);
}

.promo-categories span, .promo-offers span{
  display: block;
  padding: 20px 23px 14px;
}

.promo-link{
  display: block;
  width: 135px;
  text-align: center;
  padding: 10px;
  margin-left: 23px;
  color: var(--white);
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  background-color: var(--white-opacity);
}

.promo-link:hover, .promo-link:focus{
  background-color: var(--light-grey-opacity);
}

.promo-link:active{
  background-color: var(--lgrey-active-opacity);
}

.promo-category, .promo-offer{
  position: relative;
}

.promo-category:nth-child(1){
  background-color: var(--basic-yellow);
}

.promo-category:nth-child(1):before{
  content: "";
  width: 44px;
  height: 65px;
  position: absolute;
  top: 31px;
  right: 43px;
  background-image: url("../img/promo-materials.svg");
}

.promo-category:nth-child(2){
  background-color: var(--basic-blue);
}

.promo-category:nth-child(2):before{
  content: "";
  width: 75px;
  height: 61px;
  position: absolute;
  top: 34px;
  right: 31px;
  background-image: url("../img/promo-tools.svg");
}

.promo-category:nth-child(3){
  background-color: var(--basic-purple);
}

.promo-category:nth-child(3):before{
  content: "";
  width: 78px;
  height: 62px;
  position: absolute;
  top: 31px;
  right: 31px;
  background-image: url("../img/promo-technics.svg");
}

.promo-offer:nth-child(1){
  background-color: var(--basic-light-green);
}

.promo-offer:nth-child(1):before{
  content: "";
  width: 59px;
  height: 72px;
  position: absolute;
  top: 26px;
  right: 45px;
  background-image: url("../img/promo-discount.svg");
}

.promo-offer:nth-child(2){
  background-color: var(--basic-orange);
}

.promo-offer:nth-child(2):before{
  content: "";
  width: 78px;
  height: 63px;
  position: absolute;
  top: 32px;
  right: 31px;
  background-image: url("../img/promo-delivery.svg");
}

.sticker-new{
  background-image: url("../img/sticker-new.svg");
  background-repeat: no-repeat;
  background-position: top right;
}

/* slider */

.slide{
  display: block;
  width: 620px;
  height: 266px;
}

.slide-active{
  background-color: var(--basic-gold);
  background-repeat: no-repeat;
  position: relative;
}

.slide-active h3{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0px;
  padding: 23px 24px 5px;
}

.slide-active p{
  margin: 0;
  padding-left: 24px;
}

.slide-active a{
  display: block;
  height: 18px;
  width: 100px;
  padding: 11px 46px 9px;
  position: absolute;
  left: 24px;
  bottom: 27px;
}

.slide-perforator{
  background-image: url("../img/slider-perforator.jpg");
}

.slide-drill{
  background-image: url("../img/slider-drill.jpg");
}

.arrow-left{
  width: 22px;
  height: 40px;
  position: absolute;
  top: 122px;
  left: 24px;
}

.arrow-right{
  width: 22px;
  height: 40px;
  position: absolute;
  top: 122px;
  right: 24px;
}

.btn{
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  color: var(--white);
  background-color: var(--basic-red);
}

.btn:hover,
.btn:focus{
  background-color: var(--red-hover);
}

.btn:active{
  background-color: var(--red-active);
}

/* popular-product */

.popular-product{
  position: relative;
}

.popular-product .section-caption{
  display: block;
  margin-top: 60px;
  padding: 29px 28px 30px;
}

.beige{
  background-color: var(--basic-beige);
}

.btn-popular{
  display: block;
  height: 18px;
  width: 192px;
  text-align: center;
  padding-top: 11px;
  padding-bottom: 9px;
  position: absolute;
  top: 25px;
  right: 14px;
}

.card{
  border: 1px solid var(--border-color);
  text-align: center;
  position: relative;
}

.card-title{
  margin: auto;
}

.card-old-price{
  color: var(--light-grey-active);
  border: 1px solid var(--white);
  margin: 7px auto 12px;
}

.product-list{
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  display: grid;
  gap: 20px;
}

.product-item{
  display: block;
  min-height: 318px;
  display: flex;
  flex-direction: column;
}

.card-wrapper-img{
  min-height: 178px;
  position: relative;
}

.card-wrapper-img img{
  display: block;  
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.product-item:focus img, 
.product-item:hover img{
  display: none;  
}

.popular-product .product-list{
  grid-template-columns: repeat(4, 220px);
}

.card-price{
  display: block;
  position: relative;
  color: var(--white);
  background-color: var(--basic-red); 
  padding: 10px 20px 10px;
  margin: auto auto 21px;
  width: 101px;
  min-height: 18px;
  border-radius: 2px;
}

.card-price::after{
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  background-image: url("../img/price-arrow.svg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 100%;
}

.card-wrapper-buy{
  display: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  top: 38px;
  left: 50%;
  transform: translate(-50%);
  color: var(--basic-grey);
}

.product-item:focus .card-wrapper-buy, 
.product-item:hover .card-wrapper-buy{
  display: block;  
}

.card-buy, .card-bookmarks{
  width: 135px;
  height: 29px;
  display: block;
  border-radius: 2px;
  padding-top: 9px;
}

.card-buy{
  box-shadow: inset 0px -3px 0px #367315;
  background-color: var(--basic-green);
  color: var(--white);
  text-transform: uppercase;
}

.card-buy:before{
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 10px;
  position: relative;
  top: 2px;
  background-image: url("../img/basket-buy.svg");
  opacity: 0.3;
}

.card-buy:hover, .card-buy:focus{
  background-color: var(--green-hover);
}

.card-buy:active{
  background-color: var(--green-active);
}

.card-bookmarks{
  box-shadow: inset -3px -3px 0px var(--basic-green),inset 3px 3px 0px var(--basic-green);
  margin: 10px auto;
}

.card-bookmarks:hover,
.card-bookmarks:focus{
  box-shadow: inset -3px -3px 0px var(--basic-grey),inset 3px 3px 0px var(--basic-grey);
}

.card-bookmarks:active{
  box-shadow: inset -3px -3px 0px var(--basic-grey),inset 3px 3px 0px var(--basic-grey);
  opacity: 0.5;
}

/* popular-brand */

.popular-brand{
  position: relative;
  margin: 70px auto;
}

.popular-brand .section-caption{
  display: block;
  padding: 29px 28px 30px;
}

.btn-brand{
  display: block;
  height: 18px;
  width: 192px;
  padding-top: 11px;
  padding-bottom: 9px;
  text-align: center;
  position: absolute;
  top: 25px;
  right: 14px;
}

.brand-list{
  display: grid;
  grid-template-columns: repeat(4, 220px);
  gap: 20px;
}

.brand-item{
  height: 145px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brand-item a:active{
  opacity: 0.5;
}

/* services */

.services-wrapper{
   background-color: var(--header-background); 
}

.services{
  display: grid;
  grid-template-columns: 240px auto;
  grid-template-rows: auto auto auto auto;
  column-gap: 80px;
  position: relative;
  padding-top: 64px;
  padding-bottom: 100px;
}

.services .section-caption{
  grid-column: 1/-1;
  padding: 0;
}

.services>p{
  grid-column: 1/-1;
  margin: 0;
  padding: 0 0 70px;
}

.sercices-tabs{
  grid-column: 1/2;
  grid-row: 3/-1;
  min-width: 240px;
  min-height: 183px;
  position: relative;
}

.services-list{
  grid-column: 2/-1;
  grid-row: 3/-1;
}

.services-tab{
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  position: relative;
}

.services-tab:first-child:after{
  content: "";
  display: block;
  width: 10px;
  height: 279px;
  position: absolute;
  top: -48px;
  bottom: 0;
  right: 0px;
  background-image: url("../img/services-shadow.svg");
  z-index: 1;
}

.services-tab a{
  display: block;
  color: inherit;
  background-color: var(--basic-grey);
  box-shadow: 0px 1px 0px var(--grey-hover), inset 0px 1px 0px var(--shadow-grey);
  display: block;
  width: 218px;
  height: 48px;
  padding-top: 13px;
  padding-left: 22px;
}

.services-tab{
  color: var(--white);
}

.services-tab a:hover{
  background-color: var(--grey-hover);
}

.services-tab a:active, 
.services-tab a:focus{
  color: var(--basic-grey);
  background-color: var(--white);
  box-shadow: none;
}

.tab-delivery:active{

}

.services p, .feateres p, .contacts p, .useful-info p{
  font-family: "PT Sans";
  font-size: 13px;
}

/* feateres-contacts */

.feateres-contacts{
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 180px;
}

.feateres-contacts {
  margin: 60px auto;
}

.partners-item:before{
  content: "";
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
  margin-right: 12px;
  position: relative;
  bottom: 4px;
}

.btn-detailed{
  display: block;
  width: 220px;
  height: 28px;
  text-align: center;
  padding-top: 11px;
  margin-top: 20px;
}

.btn-lost{
  display: block;
  height: 28px;
  text-align: center;
  padding-top: 11px;
}

/* footer */

.main-footer{
  background-color: var(--basic-grey);
  color: var(--header-background);
}

.first-footer{
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: auto auto;
  gap: 20px;
}

.main-footer .basic-logo{
  grid-column: 1/2;
  grid-row: 1/2;
}

.footer-nav{
  grid-column: 2/-1;
  grid-row: 1/2;
}

.footer-contacts{
  grid-column: 1/2;
  grid-row: 2/-1;
}

.footer-promo{
  grid-column: 2/-1;
  grid-row: 2/-1;

  display: flex;
}

.footer-nav, .footer-promo{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.footer-nav a, .footer-promo a{
  padding-left: 58px;
}

li .firstItem-footer{
  padding-left: 0;
}

.footer-promo li:first-child a{
  padding-left: 0px;
}

.footer-nav a:hover, .footer-nav a:focus,
.footer-promo a:hover, .footer-promo a:focus,
.feedback a:hover, .feedback a:focus,
.developed a:hover, .developed a:focus{
  text-decoration: underline;
}

.footer-nav a:active{
  color: var(--headback-active-opacity);
}

.footer-promo a:active{
  color: var(--basic-gold-opacity);
}

.feedback a:active, .developed a:active{
  color: var(--basic-red);
}

.communication-wrapper{
  background-color: var(--grey-hover);
}

.communication{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.social{
  margin: auto auto;
}

.social-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.social-list li{
  margin: auto 10px;
}

.feedback-developed{
  display: flex;
}

.feedback{
  margin-right: 50px;
}

.gold{
  color: var(--basic-gold);
}

/* modal */

.letter input, .letter-item textarea{
  border: 2px solid var(--basic-light-grey);
  border-radius: 2px;
  font-family: "PT Sans";
  color: var(--light-grey-active);
}

.letter .btn{
  border: none;
}

/* catalog only */

/* catalog header */
.basket-active{
  background-color: var(--basic-red);
}

.personal-area{
  list-style: disc;
}

.personal{
  margin: 42px 0 42px auto;
  text-align: center;
}

.personal-name{
  /*display: flex;*/
  position: relative;
}

.personal-name a{
  display: block;
  /*width: 100%;*/
  text-align: center;
  font-size: 21px;
  line-height: 21px;
  padding: 12px 55px 12px 55px;
  /*margin: 41px 0 auto auto;*/
  background-color: var(--white);
  position: relative;
}

.personal-name a:before{
  content: "";
  display: block;
  width: 20px;
  height: 18px;
  position: absolute;
  top: 13px;
  left: 15px;
  background-image: url("../img/icon-user.svg");
}

.personal-name a:after{
  content: "";
  display: block;
  width: 20px;
  height: 18px;
  position: absolute;
  top: 14px;
  right: 14px;
  background-image: url("../img/icon-enter.svg");
}

.personal-orders, .personal-area{
  color: var(--basic-grey);
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  padding: 10px 5px;
}

.personal-area{
  margin-left: 10px;
}

.personal-area:before{
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background-image:url("../img/personal-point.svg");
  background-repeat: no-repeat;
  position: relative;
  right: 10px;
}

/* catalog main */

.wrapper-catalog{
  display: grid;
  grid-template-columns: 220px auto;
  gap: 20px;
}

.breadcrumps{
  grid-column: 1/-1;
  grid-row: 1/2;
}

.catalog-caption{
  grid-column: 1/-1;
  grid-row: 2/3;
}

.filters{
  grid-column: 1/2;
  grid-row: 3/6;
}

.sorting{
  grid-column: 2/-1;
  grid-row: 3/4;
}

.products-catalog{
  grid-column: 2/-1;
  grid-row: 4/5;
}

.paginator{
  grid-column: 2/-1;
  grid-row: 5/6;
  display: flex;
  flex-wrap: wrap;
}

.paginator a{
  display: block;
  padding: 10px 15px;
  border-radius: 2px;
}

.paginator-item{
  margin-right: 10px; 
}

.paginator-item:last-child{
  margin-right: 0;
}

.breadcrumps{
  display: flex;
}

.breadcrumps li{
  margin-right: 40px;
}

.breadcrumps, .sorting, .btn-show, .paginator{
  text-transform: uppercase;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
}

.filter-price legend, .filter-brand legend, .filter-power legend{
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-price input{
  font-family: "PT Sans";
  font-size: 17px;
  line-height: 18px;
  border: none;
}

.filter-brand label, .filter-power label{
  font-family: "PT Sans";
  font-size: 15px;
  line-height: 19px;
  text-transform: uppercase;
}

.sorting{
  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 20px;
}

.sorting-list{
  display: flex;
}

.sorting a{
  color: var(--registration-active);
  text-decoration: underline dotted var(--basic-red);
}

.sorting a:hover{
  color: var(--basic-black);
  text-decoration-style: solid;
}

.sorting-active a, .sorting a:active{
  color: var(--basic-red);
  text-decoration: none;
}

.btn-show{
  background-color: transparent;
}

.catalog-caption{
  color: var(--basic-grey);
  background-color: var(--header-background);
}

.products-catalog .product-list{
   grid-template-columns: 1fr 1fr 1fr; 
}

.paginator a{
  border: 1px solid var(--grey-rest);
}

.paginator a:hover, .paginator a:focus{
  border: 1px solid var(--registration-active);
}

.paginator a:active{
  border: 1px solid var(--basic-red);
}

.active-page a{
  color: var(--white);
  background-color: var(--basic-red);
}

.useful-wrapper{
  background-color: var(--header-background);
}